<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.epsilon.etl.eclipse.dt.launching.EtlLaunchConfigurationDelegate">
<booleanAttribute key="fine_grained_profiling" value="false"/>
<listAttribute key="models">
<listEntry value="#&#10;#Tue Feb 09 13:18:25 COT 2016&#10;isMetamodelFileBased=false&#10;name=code&#10;readOnLoad=true&#10;storeOnDisposal=false&#10;aliases=code&#10;cached=false&#10;fileBasedMetamodelUri=&#10;metamodelUri=http\://www.eclipse.org/MoDisco/kdm/kdm,http\://www.eclipse.org/MoDisco/kdm/action,http\://www.eclipse.org/MoDisco/kdm/source,http\://www.eclipse.org/MoDisco/kdm/code&#10;modelUri=platform\:/resource/miso4301_201520/models/1_Input_kdm.xmi&#10;type=EMF&#10;modelFile=/miso4301_201520/models/1_Input_kdm.xmi&#10;expand=true&#10;metamodelFile=&#10;"/>
<listEntry value="#&#10;#Tue Feb 09 13:18:31 COT 2016&#10;isMetamodelFileBased=false&#10;name=kdmMicro&#10;readOnLoad=false&#10;storeOnDisposal=true&#10;aliases=kdmMicro&#10;cached=false&#10;fileBasedMetamodelUri=&#10;metamodelUri=http\://subkdm/kdmobjects&#10;modelUri=platform\:/resource/miso4301_201520/models/2_SubKDM_SDM.xmi&#10;type=EMF&#10;modelFile=/miso4301_201520/models/2_SubKDM_SDM.xmi&#10;expand=true&#10;metamodelFile=&#10;"/>
</listAttribute>
<booleanAttribute key="profile_model_loading" value="false"/>
<booleanAttribute key="profiling_enabled" value="false"/>
<booleanAttribute key="reset_profiler" value="false"/>
<stringAttribute key="source" value="/miso4301_201520/transformations/M2M/Step1-KDM-to-SubKDM.etl"/>
</launchConfiguration>
