<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated SubKDM -->
      <package
            uri="http://subkdm/kdmobjects"
            class="subkdm.kdmObjects.KdmObjectsPackage"
            genModel="metamodels/SubKDM.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated SubKDM -->
      <package
            uri="http://subkdm/sdm"
            class="subkdm.SimplifiedDecisionMetrics.SimplifiedDecisionMetricsPackage"
            genModel="metamodels/SubKDM.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated SubKDM -->
      <package
            uri="http://subkdm/kdmrelations"
            class="subkdm.kdmRelations.KdmRelationsPackage"
            genModel="metamodels/SubKDM.genmodel"/>
   </extension>
   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated visualizacionMetricas -->
      <package
            uri="http://visualizacionMetricas3"
            class="visualizacionMetricas3.VisualizacionMetricas3Package"
            genModel="metamodels/visualizacionMetricas.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated visualizacionMetricas -->
      <package
            uri="http://visualizacionMetricas3/representacion"
            class="visualizacionMetricas3.representacion.RepresentacionPackage"
            genModel="metamodels/visualizacionMetricas.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated visualizacionMetricas -->
      <package
            uri="http://visualizacionMetricas3/visualizacion"
            class="visualizacionMetricas3.visualizacion.VisualizacionPackage"
            genModel="metamodels/visualizacionMetricas.genmodel"/>
   </extension>
</plugin>
